.buttonComponent{
    border-radius: 15px;
    border: 2px solid #FFBF1B;
    background: #353134;
    box-shadow: 0 4px 0 10px #1C191A;
    padding: 10px 50px 10px 50px;
    margin: 5px 0 5px 0;

    font-size: 15px;
}
.buttonComponent:hover{
    background: #443c41;
}
.buttonComponent:active{
    border: 3px solid white;
 }
.buttonComponent:disabled{
    background: #1C191A;
    border: 3px solid #353134;
    color: #353134;
}