.overlays{
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.cinemaArt{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    background: grey;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.cinemaArt img{
    grid-area: 1 / 1;
}
.walls{
    width: 100vw;
    z-index: 10;
    object-fit: cover;
    position: fixed;
    scale: 1.1;
}
.exitSign{

    position: absolute;
    width: 6vw;
    height: max-content;
    z-index: 80;
    top: 10%;
    left: 5%;
}
.exitSign:hover {
    box-shadow: 0 0 20px rgba(145, 193, 93, 20%);
}
.exitSign:active {
    box-shadow: 0 0 20px rgba(255, 255, 255, 40%);
}

/*Now give those Hecklers a random position!*/
:root{
    --top1: 10000px;
    --left1: 10000px;
    --top2: 10000px;
    --left2: 10000px;
    --top3: 10000px;
    --left3: 10000px;
    --top4: 10000px;
    --left4: 10000px;
}

.heckleContainer1, .heckleContainer2, .heckleContainer3, .heckleContainer4{
    display: inline-block;
    position: fixed;
    opacity: 0;
    animation: fade-in-and-out 5s;
}

@keyframes fade-in-and-out {
    0% {
       opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(-30px);
    }
}

.heckleContainer1{
    top: var(--top1);
    left: var(--left1);
}
.heckleContainer2{
    top: var(--top2);
    left: var(--left2);
}
.heckleContainer3{
    top: var(--top3);
    left: var(--left3);
}
.heckleContainer4{
    top: var(--top4);
    left: var(--left4);
}

.heckle1, .heckle2, .heckle3, .heckle4{
    font-size: 20px;
    text-align: start;
}
.speechLine{
    height: 40px;
    width: 20px;
    border-radius: 0 0 60% 0;
    border-right: 3px solid #FFBF1B;
    margin-left: 10%;
}
