root{
    display: flex;
    align-items: center;
    justify-content: center;
}

.accountWindow{
    border-radius: 20px;
    border: 3px solid #FFBF1B;
    box-shadow: 0 4px 0 10px #1C191A;
    padding: 10px 50px 10px 50px;
}
.signUpForm{
    display: flex;
    flex-direction: column;
}
label{
    display: flex;
    flex-direction: row;
}
.iconInput, .snackInput{
    display: flex;
    flex-direction: column;
}
.options{
    display: flex;
    justify-content: start;
}

.radioIcon{
    width: 80px;
    height: 80px;

    border: 3px solid #FFBF1B;
    background: #353134;
}